Package: com.lema.bruteforce
Name: BRUTEFORCE
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lema
Author: Lema
Section: Tweaks
