Package: com.lema.bruteforce
Name: BRUTEFORCE
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lema
Author: Lema
Section: Tweaks
Version: 0.0.1-39+debug
Installed-Size: 128
